/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-simple-snackbar {
  font-size: 1.2em;
  color: white;
}

.snackbar-error {
  background-color: #BD362F;
}

.snackbar-success {
  background-color: #51A351;
}

.snackbar-info {
  background-color: #673ab7;
}

.snackbar-warning {
  background-color: #f89406;
}

.snackbar-show {
  background-color: black;
}

.anchor-style {
  color: red;
  text-decoration: underline;
}
